<header class="fixed top-0 w-full bg-white/60 backdrop-blur-md shadow-sm border-b border-white/60 text-gray-500 z-5">
    <div class="flex justify-between items-center max-w-6xl mx-auto py-4 px-6">
        <h1 class="text-xl font-bold">{{platformName}}</h1>

        <div class="flex items-center gap-6">
            <button (click)="toggleMenu()" class="md:hidden flex flex-col gap-1" aria-label="Abrir menú">
                <i class="bi bi-person"></i>
            </button>
            <button (click)="toggleMenu()" class="md:hidden flex flex-col gap-1" aria-label="Abrir menú">
                <i class="bi bi-cart3"></i>
            </button>
            <button (click)="toggleMenu()" class="md:hidden flex flex-col gap-1" aria-label="Abrir menú">
                <i class="bi bi-list"></i>
            </button>
        </div>

        <nav class="hidden md:flex">
            <ul class="flex gap-6">
                <li><a href="products" class="hover:text-violet-600">
                        Productos</a></li>
                <li><a href="contact" class="hover:text-violet-600">Contacto</a></li>
                <li><a href="#" class="hover:text-violet-600"><i class="bi bi-search"></i></a></li>
                <li><a href="profile" class="hover:text-violet-600"><i class="bi bi-person-circle"></i></a></li>
                <li><a href="cart" class="hover:text-violet-600"><i class="bi bi-cart3"></i></a></li>
            </ul>
        </nav>
    </div>

    @if(menuOpen()){
    <div [ngClass]="{
      'max-h-0 opacity-0 overflow-hidden': !menuOpen(),
      'max-h-96 opacity-100': menuOpen()
    }" class="md:hidden  px-6 transition-all duration-500 ease-in-out">
        <ul class="flex flex-col gap-4 p-4">
            <li><a href="products" class="hover:text-violet-600">Productos</a></li>
            <li><a href="contact" class="hover:text-violet-600">Contacto</a></li>
        </ul>
    </div>
    }
</header>