  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px; 
  }
  

  .custom-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #7f22fe; 
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .custom-checkbox:checked {
    background-color: #7f22fe; 
    border-color: #7f22fe; 
  }
  

  .custom-checkbox:checked::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  

  .custom-label {
    font-size: 14px;
    font-weight: 500;
    color: #374151;
    cursor: pointer; 
  }
  